
main section {
    float : left;
    display:block;
}

nav a {
    border-left:2px solid;
    border-left-color:white;
}


.activites p {
    border:2px solid;
    border-color:#E8860C;
}

.activites img {
    width:350px;
    height:225px;
    border-radius:20px;
}

.packs main {
    border: 2px solid;
    border-color:#E8860C;
    border-radius:20px;
}

h3 {
    text-align:center;
}


.hebergement div {
    border:2px solid;
    border-color:#EF89A8;
}

.hebergement img {
    width:350px;
    height:225px;
    border-radius:20px;
}

.packs section {
    float:left;
    height:350px;
    width:450px;
    border:2px solid;
    border-radius:20px;
    border-color:lime;
    margin:20px;
}

.packs button {
    background-color: green;
}

.packs main {
    border: 2px solid;
    border-color:#E8860C;
    border-radius:20px;
}

h3 {
    text-align:center;
}

h1 {
    color: green;
    text-align: center;
}

body {
    background-color: #B0C4DE;
}

main {
    width: 1400px; 
    margin: auto;
}

section {
    font-family: "Times New Roman";
    font-size: 20px;
    padding: 15px;
    margin: 5px;
}

header section  {
    position: fixed;
    top:10px;
    right:10px;
    width:550px;
}



header div {
    float:right;
    padding: 15px;
    margin: 5px;
    
}

button {
    color:white;
    font-size:16px;
    padding: 8px 16px 8px 16px;
    font-family:sans-serif;
    border-radius:7px;
}

header img  {
    height:32px;
    width:32px;
}

.bonplan img {
    float:left;
    height:275px;
    width:350px;
}

.bonplan p {
    float:left;
    padding:15px;
    margin:15px;
    border-radius:7px;
    border: 2px solid;
    border-color:#E8860C;
}


header button {
    background-color:#0078E7;
}


nav a {
    color: white;
    text-decoration:none;
    font-size:16px;
    padding: 8px 16px 8px 16px;
    font-family:sans-serif;
    background-color:#E8860C;
    border-radius:0px;
    margin:-1px; /*<!-- margin negative ici !! --> */
}


footer {
    position: fixed;
    display:block;
    bottom:5px;
    left:30%;
    text-align:center;
 /*   position:absolute; */
  
}